body
{
    background-image: url("ur25.png")
}


P

{
    color:green; 
    font-size: 40pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
