body
{
    background-image: url("tlo.jpg")
}


P

{
    color:red; 
    font-size: 30pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}